# yaml-language-server: $schema=https://k8s-validation-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mysql-operator
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: mysql-operator
  maxHistory: 2
  install:
    crds: Create
    remediation:
      retries: -1
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      pullPolicy: IfNotPresent
    envs:
        imagesPullPolicy: IfNotPresent
        k8sClusterDomain: cluster.local