apiVersion: postgres-operator.crunchydata.com/v1

kind: PostgresCluster
metadata:
  name: infisical-db
  namespace: security
spec:
  image: registry.developers.crunchydata.com/crunchydata/crunchy-postgres:ubi9-15.15-2550
  postgresVersion: 15
  instances:
    - name: instance1
      dataVolumeClaimSpec:
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: 5Gi
  backups:
    pgbackrest:
      image: registry.developers.crunchydata.com/crunchydata/crunchy-pgbackrest:ubi9-2.56.0-2550

      repos:
        - name: repo1
          volume:
            volumeClaimSpec:
              accessModes:
                - "ReadWriteOnce"
              resources:
                requests:
                  storage: 5Gi
  users:
    - name: infisical
      databases:
        - infisical
