---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph
spec:
  chartRef:
    kind: OCIRepository
    name: rook-ceph
  interval: 1h
  values:
    csi:
      cephFSKernelMountOptions: ms_mode=prefer-crc
      enableLiveness: true
      serviceMonitor:
        enabled: true
      csiRBDProvisionerResource: |
        - name : csi-provisioner
          resource:
            requests:
              memory: 64Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-resizer
          resource:
            requests:
              memory: 64Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-attacher
          resource:
            requests:
              memory: 64Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-snapshotter
          resource:
            requests:
              memory: 64Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-omap-generator
          resource:
            requests:
              memory: 64Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : liveness-prometheus
          resource:
            requests:
              memory: 32Mi
              cpu: 10m
            limits:
              memory: 64Mi
        - name : csi-rbdplugin
          resource:
            requests:
              memory: 128Mi
              cpu: 50m
            limits:
              memory: 512Mi
      csiRBDPluginResource: |
        - name : driver-registrar
          resource:
            requests:
              memory: 32Mi
              cpu: 10m
            limits:
              memory: 64Mi
        - name : csi-rbdplugin
          resource:
            requests:
              memory: 128Mi
              cpu: 50m
            limits:
              memory: 512Mi
        - name : liveness-prometheus
          resource:
            requests:
              memory: 32Mi
              cpu: 10m
            limits:
              memory: 64Mi
      csiCephFSProvisionerResource: |
        - name : csi-provisioner
          resource:
            requests:
              memory: 64Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-resizer
          resource:
            requests:
              memory: 64Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-attacher
          resource:
            requests:
              memory: 64Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-snapshotter
          resource:
            requests:
              memory: 64Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : liveness-prometheus
          resource:
            requests:
              memory: 32Mi
              cpu: 10m
            limits:
              memory: 64Mi
        - name : csi-cephfsplugin
          resource:
            requests:
              memory: 128Mi
              cpu: 50m
            limits:
              memory: 512Mi
      csiCephFSPluginResource: |
        - name : driver-registrar
          resource:
            requests:
              memory: 32Mi
              cpu: 10m
            limits:
              memory: 64Mi
        - name : csi-cephfsplugin
          resource:
            requests:
              memory: 128Mi
              cpu: 50m
            limits:
              memory: 512Mi
        - name : liveness-prometheus
          resource:
            requests:
              memory: 32Mi
              cpu: 10m
            limits:
              memory: 64Mi
    image:
      repository: ghcr.io/rook/ceph
    monitoring:
      enabled: true
    resources:
      requests:
        cpu: 100m # unchangable
        memory: 128Mi # unchangable
      limits: {}