---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: headlamp
  driftDetection:
    mode: enabled
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    fullnameOverride: headlamp
    initContainers:
      - image: ghcr.io/headlamp-k8s/headlamp-plugin-flux:v0.5.0
        command:
          - /bin/sh
          - -c
          - rm -rf /headlamp/plugins/flux && cp -r /plugins/flux /headlamp/plugins/
        name: headlamp-plugin-flux
        volumeMounts:
          - mountPath: /headlamp/plugins
            name: headlamp-plugins
    env:
      - name: HEADLAMP_CONFIG_TRACING_ENABLED
        value: "false"
      - name: HEADLAMP_CONFIG_METRICS_ENABLED
        value: "false"
    podAnnotations:
      reloader.stakater.com/auto: "true"
    volumeMounts:
      - mountPath: /headlamp/plugins
        name: headlamp-plugins
    volumes:
      - name: headlamp-plugins
        emptyDir:
          sizeLimit: 100Mi
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80
