---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana-instance
spec:
  dependsOn:
    - name: grafana-operator
    - name: envoy-gateway
      namespace: network-system
    - name: openebs
      namespace: storage-system
  path: ./kubernetes/apps/observability/grafana/instance
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: observability
  interval: 1h
  prune: true
  wait: false
